# Compiled Binary
/src/predict

# Built Input Files
*.in

# Text Editor artifacts
*.swp
*.swo

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
